<div class="heading" id="html">
  <h2>HTML</h2>
</div>
<div class="section" id="html-editor-practices">
  <div class="col">
    <h3>General practices</h3>
    <ul>
      <li>Use soft tabs with two spaces— they're the only way to guarantee code renders the same in any environment</li>
      <li>Nested elements should be indented once (two spaces)</li>
      <li>Always use double quotes, never single quotes, on attributes</li>
      <li>Declare a character set (UTF-8)</li>
      <li>Use an HTML5 doctype: enforce standards mode and more consistent rendering in every browser possible with this simple doctype</li>
      <li>TODO: add a doctype on mobile web (!!!)</li>
      <li>Enable the <a href="http://stackoverflow.com/questions/6771258/whats-the-difference-if-meta-http-equiv-x-ua-compatible-content-ie-edge-e">best standards support possible for IE</a> with the X-UA-Compatible meta tag</li>
      <li>Avoid inline styles</li>
      <li>Don't include a trailing slash in self-closing elements— the <a href="http://dev.w3.org/html5/spec-author-view/syntax.html#syntax-start-tag">HTML5 spec</a> says they're optional.</li>
      <li>Use the right tag for the applicable context. For example, use a <code>h3</code> instead of something ridiculous like <code>&lt;span class="heading"&gt;</code>.</li>
      <li>Be aware of what <a href="http://diveintohtml5.info/semantics.html">semantics in HTML</a>(5) are all about but don't get stressed out over it</li>
      <li>See also: <a href="#editor">Editor configuration</a></li>
    </ul>
  </div>
  <div class="col">
    {% highlight html %}{% include html/syntax.html %}{% endhighlight %}
  </div>
</div>
<!--
<div class="section" id="html-semantics">
  <div class="col">
    <h3>Semantics</h3>
    <p>With regards to front-end development, semantics are largely concerned with the meaning of HTML elements, attributes and attribute values. Semantics are usually <a href="https://html.spec.whatwg.org/multipage/" title="The HTML Living Standard Spec">formalised in specifications</a> though after formalization can be modified according to adaptation (or lack thereof) by developers. The principle of writing "semantic HTML" is one of the foundations of modern, professional front-end development.</p>
    <p>Most semantics are related to the content of a web page (the h1 element, lang attribute, email value of the type attribute of the input element) though <strong>not all semantics need to be content derived</strong>. Class name semantics are different to those of HTML elements: you can't have a "wrong" class name.</p>
    <p>The HTML <a href="http://dev.w3.org/html5/spec/global-attributes.html#classes">spec on classes</a> states:<p>
    <blockquote>…authors are encouraged to use [class attribute] values that describe the nature of the content, rather than values that describe the desired presentation of the content.</blockquote>
    <p>But there's no real reason to do this:</p>
      <ul>
        <li>HTML elements already inform content-layer semantics (ie. headlines use a heading tag)</li>
        <li>class names supply little/no semantic info to machines (except when using Microdata)</li>
        <li>the primary purpose of a class name should be as a hook for CSS/JS (presentation and behaviour)</li>
        <li>class names should provide useful information to other developers</li>
      </ul>
    <p>Take, for example:</p>

    {% highlight html %}{% include html/news.html %}{% endhighlight %}

    <ul>
        <li>the class name "news" doesn’t tell you anything that is not already obvious from the content</li>
        <li>it gives you no information about the architectural structure of the component and it cannot be used with content that isn't "news"</li>
        <li>tying your class name semantics tightly to the nature of the content has reduced the ability of your architecture to scale or be easily put to use by other developers</li>
    </ul>

    <p>TODO: Therefore, with regards to semantics, class names should ... </p>
  </div>
</div> -->

<div class="section" id="html-microdata">
  <div class="col">
    <h3>Microdata</h3>
    <ul>
      <li>used to nest metadata within existing content on web pages</li>
      <li>microdata is machine-readable: search engines, web crawlers, and browsers can extract and process microdata from a web page and use it to provide a richer browsing experience for users</li>
      <li>structured microdata allows search engines to understand the content of the web page and provide more relavant search results to users</li>
      <li>we should use microdata as much as possible to enrich the user experience by helping search engines discover our content</li>
      <li>use <a href="http://schema.org/docs/gs.html">schema.org</a> as a starting point for adding microdata to your HTML</li>
      <li><code>itemscope</code>: the data within is "about" a particular thing</li>
      <li><code>itemtype</code>: specifies the type of item within; always immediately follows itemscope</li>
      <li><code>itemprop</code>: identifies properties of an item</li>
      <p>TODO: identify strandard article itemprops as they relate to us</p>
    </ul>
  </div>
  <div class="col">
    {% highlight html %}{% include html/microdata.html %}{% endhighlight %}
  </div>
</div>
<div class="section" id="html-accessibility">
  <div class="col">
    <h3>Accessibility</h3>
    <ul>
      <li>enabling as many people as possible to use web sites, even when those people's abilities are limited in some way</li>
      <li><a href="https://developer.mozilla.org/en-US/docs/Web/Accessibility/Web_Development">MDN documentation on accessibility</a></li>
      <li>use best-practices you already know: <code>title="attributes"</code> and <code>&lt;img alt="Alternate text"&gt;</code></li>
      <li><a href="https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA">ARIA</a> defines ways to make web content/applications more accessible: it is "a framework for adding attributes to identify features for user interaction, how they relate to each other, and their current state"</li>
      <li>use <a href="http://accessibility.oit.ncsu.edu/training/accessibility-handbook/aria-landmarks.html">ARIA landmarks</a></li>
      <blockquote>…landmark roles ("landmarks") programmatically identify sections of a page. They help assistive technology users orient themselves to a page and help them navigate easily to various sections of a page.
        <cite><a href="http://www.w3.org/WAI/GL/wiki/Using_ARIA_landmarks_to_identify_regions_of_a_page">www.w3.org/WAI</A></cite>
      </blockquote>
      <li>the "role" attribute should not be placed on another element that already has semantic meaning. It should only be placed on <code>&lt;div&gt;</code> and <code>&lt;span&gt;</code> elements.</li>
      <li>TODO: aria-label and aria-labelledby</li>
      <li>TODO: accessibility testing</li>
    </ul>
  </div>
  <div class="col">
    {% highlight html %}{% include html/accessibility.html %}{% endhighlight %}
  </div>
</div>
<div class="section" id="html-style-script">
  <div class="col">
    <h3>CSS and JavaScript includes</h3>
    <p>Per HTML5 spec, typically there is no need to specify a <code>type</code> when including CSS and JavaScript files as <code>text/css</code> and <code>text/javascript</code> are their respective defaults.</p>
    <h4>HTML5 spec links</h4>
    <ul>
      <li><a href="http://www.w3.org/TR/2011/WD-html5-20110525/semantics.html#the-link-element">Using link</a></li>
      <li><a href="http://www.w3.org/TR/2011/WD-html5-20110525/semantics.html#the-style-element">Using style</a></li>
      <li><a href="http://www.w3.org/TR/2011/WD-html5-20110525/scripting-1.html#the-script-element">Using script</a></li>
    </ul>
  </div>
  <div class="col">
    {% highlight html %}{% include html/style-script.html %}{% endhighlight %}
  </div>
</div>
<div class="section" id="html-practicality">
  <div class="col">
    <h3>Practicality over purity</h3>
    <p>Strive to maintain HTML standards and semantics, but not at the expense of practicality. Use the least amount of markup with the fewest intricacies whenever possible.</p>
  </div>
</div>
<div class="section" id="html-attribute-order">
  <div class="col">
    <h3>Attribute order</h3>
    <p>HTML attributes should come in this particular order for easier reading of code.</p>
    <ul>
      <li><code>class</code></li>
      <li><code>id</code>, <code>name</code></li>
      <li><code>data-*</code></li>
      <li><code>src</code>, <code>for</code>, <code>type</code>, <code>href</code>, <code>value</code></li>
      <li><code>title</code>, <code>alt</code></li>
      <li><code>aria-*</code>, <code>role</code></li>
    </ul>
    <p>Classes make for great reusable components, so they come first. Ids are more specific and should be used sparingly (e.g., for in-page bookmarks), so they come second.</p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/attribute-order.html %}{% endhighlight %}
  </div>
</div>
<div class="section" id="html-boolean-attributes">
  <div class="col">
    <h3>Boolean attributes</h3>
    <p>A boolean attribute is one that needs no declared value. XHTML required you to declare a value, but HTML5 has no such requirement.</p>
    <p>For further reading, consult the <a href="http://www.whatwg.org/specs/web-apps/current-work/multipage/common-microsyntaxes.html#boolean-attributes">WhatWG section on boolean attributes</a>:</p>
    <blockquote>
      <p>The presence of a boolean attribute on an element represents the true value, and the absence of the attribute represents the false value.</p>
    </blockquote>
    <p>If you <em>must</em> include the attribute's value, and <strong>you don't need to</strong>, follow this WhatWG guideline:</p>
    <blockquote>
      <p>If the attribute is present, its value must either be the empty string or [...] the attribute's canonical name, with no leading or trailing whitespace.</p>
    </blockquote>
    <p><strong>In short, don't add a value.</strong></p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/boolean-attributes.html %}{% endhighlight %}
  </div>
</div>
<div class="section" id="html-reducing-markup">
  <div class="col">
    <h3>Reducing markup</h3>
    <p>Whenever possible, avoid superfluous parent elements when writing HTML. Many times this requires iteration and refactoring, but produces less HTML. Take the following example:</p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/reducing-markup.html %}{% endhighlight %}
  </div>
</div>
<div class="section" id="html-javascript">
  <div class="col">
    <h3>JavaScript generated markup</h3>
    <p>Writing markup in a JavaScript file makes the content harder to find, harder to edit, and less performant. Avoid it whenever possible.</p>
    <p><strong>Discussion point/investigation</strong>: do we need a JS templating engine of some kind?</p>
  </div>
</div>