<!-- without micordata -->
<article>
  <h1>World risks new financial crisis amid ‘poisonous’ mix: study</h1>
  <p class="author">by John Smith</p>
  <time class="published">Published Sept. 26, 2014, 10:02am EDT</time>
</article>

<!-- with micordata -->
<article itemscope itemtype="http://schema.org/NewsArticle">
  <h1 itemprop="headline">World risks new financial crisis amid ‘poisonous’ mix: study</h1>
  <p class="author" itemprop="author">by John Smith</p>
  <time class="published" itemprop="datePublished">Published Sept. 26, 2014, 10:02am EDT</time>
</article>

